body {
    background-color: lightgray;
    color: #333;
}

.header {
    background-color: cadetblue;
    color: white;
    padding: 30px 20px;
    text-align: center;
    border-bottom: 5px solid lightskyblue;
}

.menu {
    background-color: lightgray;
    padding: 10px 0 20px 0;
    text-align: center;
}

.menu a {
    background-color: darkcyan;
    padding: 10px 20px;
    color: white;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.container {
    background-color: gainsboro;
    max-width: 900px;
    margin: 10px auto;
    padding: 0 15px;
}

.section {
    background-color: white;
    border-radius: 8px;
    padding: 20px 30px;
    margin-bottom: 10px;
}

.section h2 {
    color: #3a506b;
    border-bottom: 2px solid lightskyblue;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

.section p {
    color: grey;
}

.internal-links {
    margin-top: 15px;
}

.internal-links a {
    display: inline-block;
    background-color: white;
    color: grey;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 20px;
    margin: 5px 10px 5px 0;
}

hr {
    border: 1px solid gray;
    height: 1px;
    background-color: white;
    margin: 20px 0  ;
}

.contact-info {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    border-left: 4px solid lightskyblue;
}

.contact-info div {
    color: gray;
    margin-bottom: 10px;
}


.footer {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;
}